
p {
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
}

#book {
    min-width: 300px;
    max-width: 148mm;
    margin: 0 auto;
}

#book div {
    border: 0 solid black;
}

#book div h1 {
    margin-top: 20px;
    text-align: center;
}

.table h2 {
    margin: 10px;
}

.table a {
    margin-left: 30px;
}

.memory {
    padding: 50px;
    text-align: right;
    font-style: italic;
}