.git/
.github/
venv/
.idea/
__pycache__/
.run/
releases/
docs/rewlis/data/*
!docs/rewlis/data/__init__.py
docs/absolaris/__init__.py
docs/absolaris/__secret__.py
*to.dgt.from.xayam.txt
*.gif
*.mp4
*.avi
*.mkv
*.mp3
*.zip
*.7z
*.rar

*admin.php
