.git/
.github/
venv/
.idea/
__pycache__/
.run/
releases/
docs/x/xmap/other/comics/rus/*
!docs/x/xmap/other/comics/rus/__init__.py
!docs/x/xmap/other/comics/rus/.htaccess
docs/rewlis/data/*
!docs/rewlis/data/__init__.py
docs/absolaris/__secret__.py
docs/xportfolios/__secret__.py
*to.dgt.from.xayam.txt
*.avi
*.mp4
*.mkv
*.mp3
*.zip
*.7z
*.rar

*admin.php
