openai
pyTelegramBotAPI

pyroomacoustics
shapely
matplotlib
numpy
scikit-learn

opencv-python
transformers
torch
trimesh

torchvision
torchaudio
diffusers
accelerate
pillow
safetensors

opencv-contrib-python
scipy
PyAudio

llama-cpp-python
