openai
pyTelegramBotAPI

pyroomacoustics
shapely
matplotlib
numpy
scikit-learn

opencv-python
transformers
torch
torchvision
supervision
pillow
groundingdino-py
segment-anything
ultralytics
mobilesam-mirror

opencv-contrib-python
scipy
PyAudio