lxml

#base64

build123d
svgelements
networkx
trimesh
#vpype
numpy
shapely>=2.0.0

cadquery
casadi

chess

#weasyprint

#openai
#pyTelegramBotAPI

#pyroomacoustics
#shapely
#matplotlib
#numpy
#scikit-learn

#opencv-python
#pillow
#opencv-contrib-python
#scipy
#PyAudio
#pandas
#openpyxl
