
.left {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.center {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.board_header {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 1.0);
}

.board_center {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 11.0);
}

.board_footer {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 1.0);
}

.board_svg {
    width: 100%;
    height: 100%;
}

.game {
   position: relative;
   width: 100%;
   height: 24px;
}

.game table {
    width: 100%;
}

.game td {
    width: 50%;
    font-size: 18px;
    text-align: center;
}

.game select {
    width: 100%;
}
