
.links {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.board {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.moves {
    position: relative;
    float: left;
    width: calc(25% - 4px);
    height: 100%;
}

.board_header {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 1.0);
}

.game {
   position: relative;
   width: 100%;
   height: 24px;
}

.game table {
    width: 100%;
}

.game td {
    width: 50%;
    font-size: 18px;
    text-align: center;
}

.game select {
    width: 100%;
}

.board_center {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 9.0);
}

.board_footer {
   position: relative;
   width: 100%;
   height: calc(var(--cell-size) * 1.0);
}