
.links {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.board {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}


.moves {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}
