<?xml version="1.0" encoding="utf-8"?>
<menu>
    <id>author</id>
    <item>
        <id>games</id>
        <ru>Больше, чем одна игра</ru>
        <en>More than one game</en>
    </item>
    <item>
        <id>forms</id>
        <ru>Больше, чем одна форма</ru>
        <en>More than one form</en>
    </item>

</menu>