<?xml version="1.0" encoding="utf-8"?>
<menu>
    <id>catalog</id>
    <item active="true">
        <id>chess-figures</id>
        <ru>Шахматные фигуры&amp;Кости</ru>
        <en>Chess figures&amp;Dices</en>
    </item>
    <item active="true">
        <id>chess-boards</id>
        <ru>Шахматные доски</ru>
        <en>Chess boards</en>
    </item>
    <item active="false">
        <id>wood</id>
        <ru>Изделия из дерева&amp;фанеры</ru>
        <en>Wood</en>
    </item>
    <item active="true">
        <id>boxes</id>
        <ru>Сумки&amp;Рюкзаки&amp;Коробки</ru>
        <en>Bugs&amp;Boxes</en>
    </item>
    <item active="false">
        <id>books</id>
        <ru>Книги</ru>
        <en>Books</en>
    </item>
    <item active="true">
        <id>avito</id>
        <ru>Авито</ru>
        <en>Avito</en>
    </item>
    <item active="true">
        <id>shops</id>
        <ru>Мои магазины</ru>
        <en>My shops</en>
    </item>
    <item active="true">
        <id>blogs</id>
        <ru>Мои блоги</ru>
        <en>my blogs</en>
    </item>
</menu>