<?xml version="1.0" encoding="utf-8"?>
<menu>
    <id>xlab</id>
    <item active="true">
        <id>xcnc</id>
        <ru>XCNC</ru>
        <en>XCNC</en>
    </item>
    <item active="true">
        <id>xgraver</id>
        <ru>XGraver</ru>
        <en>XGraver</en>
    </item>
    <item active="true">
        <id>xprinter</id>
        <ru>XPrinter</ru>
        <en>XPrinter</en>
    </item>
    <item active="true">
        <id>xrereflect</id>
        <ru>XRereflect</ru>
        <en>XRereflect</en>
    </item>
</menu>