<?xml version="1.0" encoding="utf-8"?>
<menu ru="Магазины" en="Shops">
    <shop>
        <id>ozon</id>
        <link>https://www.ozon.ru/seller/xayam-ru-2439849</link>
        <name>
            <ru>Озон</ru>
            <en>Ozon</en>
        </name>
        <title>
            <ru>Магазин КСАЯМ на Озоне</ru>
            <en>Shop XAYAM on Ozon</en>
        </title>
    </shop>
    <shop>
        <id>avito</id>
        <link>https://www.avito.ru</link>
        <name>
            <ru>Авито</ru>
            <en>Avito</en>
        </name>
        <title>
            <ru>Магазин КСАЯМ на Авито</ru>
            <en>Shop XAYAM on Avito</en>
        </title>
    </shop>
    <shop>
        <id>vk</id>
        <link>https://vk.com/xayam_ru_ozon</link>
        <name>
            <ru>ВК Озон</ru>
            <en>VK Ozon</en>
        </name>
        <title>
            <ru>Магазин КСАЯМ в ВК-сообществе</ru>
            <en>Shop XAYAM in VK-community</en>
        </title>
    </shop>
    <shop>
        <id>wb</id>
        <link>https://www.wildberries.ru/</link>
        <name>
            <ru>ВБ</ru>
            <en>WB</en>
        </name>
        <title>
            <ru>Магазин КСАЯМ в ВБ</ru>
            <en>Shop XAYAM in WB</en>
        </title>
    </shop>
</menu>