<?xml version="1.0" encoding="utf-8"?>
<menu>
    <aboutus>
        <id>aboutus</id>
        <ru>О нас</ru>
        <en>About us</en>
    </aboutus>
    <contacts>
        <id>contacts</id>
        <ru>Контакты</ru>
        <en>Contacts</en>
    </contacts>
    <search>
        <id>search</id>
        <ru>Поиск</ru>
        <en>Search</en>
    </search>
</menu>