
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f3f4;
    border-width: 0;
    scrollbar-color: gray white;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}
