
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f3f4;
    border: 0px solid black;
    scrollbar-color: gray white;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: visible;
}

p {
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
}

canvas {
    width: 100%;
    height: 100%;
}

#chessboard {
    display: none;
}

.rules_game {
    display: none;
}

.rules_game.active {
    display: block;
}

.menus {
    font-size: 8px;
}