
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f3f4;
    border-width: 0;
    scrollbar-color: gray white;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

p {
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
}

canvas {
    width: 100%;
    height: 100%;
}

#chessboard {
    display: none;
}

.rules_game {
    display: none;
}

.rules_game.active {
    display: block;
}

.games label, .menus label {
    width: 20%;
    margin-left: 1%;
}

.games select, .games label {
    font-size: 40cqb;
}

.menus select, .menus label {
    font-size: 40cqb;
}

option {
    background-color: white;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  border-width: 0;
}
