
.left {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    border-right: 1px solid gray;
}

.board {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
}

.select_menu, .select_game {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
}

.rules {
    height: calc(100% - 85px);
}

.rules_game {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    word-wrap: break-word;
}

.menus {
    height: 40px;
}

.games {
    height: 40px;
}
