<?xml version="1.0" encoding="utf-8"?>
<menu>
    <id>other</id>
    <item active="true">
        <id>absolaris</id>
        <ru>Абсолярис</ru>
        <en>Absolaris</en>
    </item>
    <item active="true">
        <id>dmsearch</id>
        <ru>DMSearch</ru>
        <en>DMSearch</en>
    </item>
    <item active="true">
        <id>health</id>
        <ru>Здоровье</ru>
        <en>Health</en>
    </item>
    <item active="true">
        <id>novac</id>
        <ru>Новак</ru>
        <en>Novac</en>
    </item>
    <item active="true">
        <id>pixelart</id>
        <ru>Пиксель-Арт</ru>
        <en>PixelArt</en>
    </item>
    <item active="false">
        <id>poler</id>
        <ru>Poler</ru>
        <en>Poler</en>
    </item>
    <item active="true">
        <id>publish</id>
        <ru>Публикации</ru>
        <en>Publish</en>
    </item>
    <item active="true">
        <id>puzzles</id>
        <ru>Пазлы&amp;Задачи</ru>
        <en>Puzzles</en>
    </item>
    <item active="true">
        <id>rewlis</id>
        <ru>Ревлис</ru>
        <en>Rewlis</en>
    </item>
    <item active="false">
        <id>roomaw</id>
        <ru>Roomaw</ru>
        <en>Roomaw</en>
    </item>
    <item active="false">
        <id>schedule</id>
        <ru>Расписание</ru>
        <en>Schedule</en>
    </item>
    <item active="true">
        <id>summer</id>
        <ru>Summer</ru>
        <en>Summer</en>
    </item>
    <item active="true">
        <id>volumlib</id>
        <ru>ВолумЛиб</ru>
        <en>VolumLib</en>
    </item>
</menu>